/* Big tablets to 1200px: from 1024px to 1200px (widths smaller than the 1140px row */
@media only screen and (max-width: 1200px) {
  /* HEADER */
  /* .header-content {
    margin: 10% auto 0 auto;
  } */

  .main-nav ul {
    opacity: 0;
    font-size: 0;
    margin: 0 30px 0 0;
    text-align: right;
  }

  .main-nav li {
    display: block;
    margin-bottom: 15px;
  }

  .menu-btn {
    display: inline-block;
  }

  .box {
    font-size: 3.5vh;
  }

  /* FRÅGA OSS */

  .contact-form {
    width: 50%;
  }

  /* MISC */
  #clear-div {
    display: block;
  }

  /* FAQ */
  .question-box {
    width: 60%;
  }

  /* VIDEO */
  .video-box {
    width: 70%;
  }

  /* OM OSS */
  .left-person img {
    width: 70%;
  }
}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    /* font-size: 18px; */
  }

  section {
    padding: 60px 0;
  }

  /* HEADER */

  .header-content {
    /* margin: 12% auto 0 auto;
    height: 50%; */
    text-align: center;
  }

  .header-text {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
    align-items: center;
  }

  .header-text h1 {
    margin-bottom: 0.7em;
  }

  .header-text p {
    margin-bottom: 3em;
  }

  .img-box {
    display: none;
  }

  .box {
    font-size: 3vh;
  }

  /* OM OSS */

  .section-om .my-col:first-child {
    display: none;
  }

  .section-om .my-col {
    width: 90%;
  }

  /* FRÅGA OSS */
  .contact-form {
    width: 70%;
  }

  /* FAQ */

  .question-box {
    width: 70%;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  body {
    /* font-size: 16px; */
  }
  section {
    padding: 30px 0;
  }

  /* HEADER */

  .main-nav h2 {
    margin: 16px 15px;
  }

  /* .header-content {
    margin: 20% auto 0 auto;
  } */

  .header-text {
    width: 100%;
  }

  .header-text h1 {
    margin-bottom: 0.3em;
    font-size: 150%;
  }

  .header-text p {
    margin-bottom: 1.5em;
  }

  .header-text a {
    padding: 5px 20px;
  }

  .box-holder {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box {
    font-size: 3vh;
    width: 40%;
  }

  .box-arrow:nth-child(4) {
    display: none;
  }

  .logo {
    margin: 10px;
  }

  /* MISC */

  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }

  /* HUR */

  .section-hur .my-row {
    flex-direction: column;
  }

  .section-hur .my-row:nth-child(2),
  .section-hur .my-row:nth-child(4) {
    flex-direction: column-reverse;
  }

  .hur-box {
    width: 80%;
  }

  /* FRÅGA OSS */

  .contact-form {
    width: 90%;
  }

  /* VIDEO */

  .video-box {
    width: 90%;
  }

  /* FAQ */

  .question-box {
    width: 80%;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 4 0px 0;
  }

  body {
    font-size: 2.5vh;
  }

  .section-title {
    padding: 0;
  }

  .title-info {
    width: 80%;
  }

  /* HEADER */
  .logo {
    width: 30px;
    height: 30px;
    margin: 20px 10px;
  }

  .main-nav h2 {
    font-size: 120%;
    margin: 22px 0;
  }

  /* .header-content {
    margin: 15% auto 0 auto;
  } */

  .header-text h1 {
    font-size: 120%;
  }

  .box {
    font-size: 130%;
  }

  .box p {
    font-size: 70%;
  }

  .big-icon {
    font-size: 270%;
  }

  /* FRÅGA OSS */
  .contact-form {
    width: 90%;
  }
}

/* Height queries */
@media only screen and (max-height: 700px) {
  header {
    height: 200vh;
  }

  .box {
    font-size: 6vh;
  }
}
